.body-content-wrapper {
    background: rgb(65,67,79);
    background: linear-gradient(156deg, rgba(65,67,79,1) 0%, rgba(35,36,41,1) 56%, rgba(11,12,14,1) 100%);
    display: flex;
}

.body-content-wrapper > .left-text {
    display: flex;
    font-size: 2.3em;
    flex-wrap: wrap;
    row-gap: 10px;
    text-align: left;
}

.body-content-wrapper > .left-text > .left-text-upper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: none;
}

.body-content-wrapper > .left-text > .left-text-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.body-content-wrapper > .left-text > .left-text-links > .signup-link button {
    color: black;
    background-color: #49cc78;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 1em;
    outline: none;
    padding: 20px 25px;
    border: none;
    border-radius: 2px;
}

.body-content-wrapper > .left-text > .left-text-links > .learnmore-link button {
    color: white;
    background-color: #111111;
    font-family: 'Quicksand';
    font-weight: bold;
    font-size: 1em;
    outline: none;
    padding: 20px 25px;
    border: none;
    border-radius: 2px;
}

.body-content-wrapper > .left-text > .left-text-links > .signup-link button:active {
    background-color:white;
}


.body-content-wrapper > .left-text > .left-text-links > .learnmore-link button:active {
    background-color:#3f434c;
}


.body-content-wrapper > .right-image {
    margin-top: 100px;
    margin-left: 200px
}

.body-content-wrapper > .right-image > .imgtext {
    color: white;
    font-weight: bold;

}
.body-content-wrapper > .right-image img {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto; 
}