@media (max-width: 615px) {

    .navigation-bar {
        flex-direction: column;
        height: 100%;
    }
    
    .footer-items-wrapper {
        flex-direction: column;
    }

    .body-content-wrapper {
        flex-direction: column;
    }

    .body-content-wrapper > .left-text {
        margin-left: none;
    }
}



